@page "/plan"
@inject CategoryDatabase CDatabase
@inject IJSRuntime JS
@inject NavigationManager Navigation

<SectionContent SectionName="page-title">Plan</SectionContent>
<SectionContent SectionName="page-actions">
    <i class="bi bi-plus-lg h5 cursor-pointer m-0" @onclick="goToCategory"></i>
</SectionContent>

<div id="category-not-0" class="d-none">
    <div class="row justify-content-center">
        <div class="col-12 mx-auto">
            <div class="my-4">
                <div class="list-group list-group-flush">
                    @foreach (var item in cItems)
                    {
                        <div class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-8">
                                    <strong class="mb-0">@item.Name</strong>
                                    <p class="text-muted mb-0">@item.Note</p>
                                </div>
                                <div class="col-4 row">
                                    <input type="number" class="form-control align-self-center" placeholder="Enter Percentage" @bind-value="item.Percentage" @bind-value:event="oninput" @onchange="CalculateTotalPercentage" min="0" max="100" />
                                </div>
                            </div>
                        </div>
                    }
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-8"></div>
                            <div id="totalPercentDiv" class="col-4 text-center @(totalPercent>100 ? "text-danger" : "text-success")"><span id="totalPercent">@totalPercent</span> <span><i class="bi bi-percent"></i></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-float btn btn-primary" @onclick="UpdateItems">
        <i class="bi bi-check-lg"></i>
    </div>
</div>

<div id="category-is-0" class="d-none">
    <p class="m-4">
        It looks like no categories have been set up yet. You can create a new category <span class="text-primary cursor-pointer" @onclick="goToCategory"><strong><u>here</u></strong></span> to get started.
    </p>
</div>



@code {
    private List<FinPal.Models.Category> cItems = new List<FinPal.Models.Category>();
    private decimal totalPercent;

    protected override async Task OnInitializedAsync()
    {
        cItems = await CDatabase.GetActiveItemsAsync();

        if(cItems.Count != 0)
        {
            CalculateTotalPercentage();
            await JS.InvokeVoidAsync("hideOrShowElement", "category-not-0");
        }
        else
        {
            await JS.InvokeVoidAsync("hideOrShowElement", "category-is-0");
        }
    }

    private async Task UpdateItems()
    {
        foreach (var item in cItems)
        {
            await CDatabase.SaveItemAsync(item);
        }
        await JS.InvokeVoidAsync("showToast", "Update", "Plans updated successfully.");

    }

    private void CalculateTotalPercentage()
    {
        totalPercent = cItems.Sum(item => item.Percentage);
    }

    private void goToCategory()
    {
        Navigation.NavigateTo("/settings/category");
    }
}
