@page "/salary"
@inject SalaryDatabase SDatabase
@inject IJSRuntime JS

<SectionContent SectionName="page-title">Salary</SectionContent>

<div class="top-panel-footer">
    <div class="row text-center">
        <div class="col-3">
            <i class="bi bi-arrow-left-circle-fill h6 cursor-pointer" @onclick="PreviousYear"></i>
        </div>
        <div class="col-6">@selectedYear</div>
        <div class="col-3">
            <i class="bi bi-arrow-right-circle-fill h6 cursor-pointer" @onclick="NextYear"></i>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 mx-auto">     
        @if(sItems != null)
        {
            <div class="my-4">
                <div class="list-group list-group-flush">
                    @foreach (var item in sItems)
                    {
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-6">
                                    <strong class="mb-0">@GetMonthName(item.Month)</strong>
                                    <p class="text-muted mb-0"></p>
                                </div>
                                <div class="col-6">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                                        <input type="number" class="form-control" id="amount-@item.Id" placeholder="Enter Amount" @bind-value="item.Amount" min="0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<div class="btn-float btn btn-primary" @onclick="UpdateItems">
    <i class="bi bi-check-lg"></i>
</div>

<div class="d-none 2container text-center">
    <button class="btn btn-primary px-5" @onclick="UpdateItems">Update</button>
</div>

@code {
    private List<FinPal.Models.Salary> sItems = new List<FinPal.Models.Salary>();
    private int currentYear = DateTime.Now.Year, selectedYear;

    protected override async Task OnInitializedAsync()
    {
        selectedYear = currentYear;
        await LoadSalaries();
    }

    private async Task PreviousYear()
    {
        if(selectedYear > (currentYear - 2))
        {
            selectedYear--;
            await LoadSalaries();
        }
    }

    private async Task NextYear()
    {
        if (selectedYear < (currentYear + 2))
        {
            selectedYear++;
            await LoadSalaries();
        }
    }

    private async Task LoadSalaries()
    {
        sItems = await SDatabase.GetSalariesByYear(selectedYear);
    }

    private async Task UpdateItems()
    {
        foreach (var salary in sItems)
        {
            await SDatabase.UpdateItemAsync(salary);
        }
        
        await JS.InvokeVoidAsync("showToast", "Update", "Salaries updated successfully.");
    }

    private string GetMonthName(int month)
    {
        return new DateTime(1, month, 1).ToString("MMMM");
    }
}
