@inject SettingsDatabase SettingDatabase
@inject IJSRuntime JS
@page "/settings"
<h3>Settings</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 mx-auto">
            <div class="my-4">
                <div class="list-group mb-5 shadow">
                    <a class="list-group-item list-group-item-action" href="settings/finance">
                        <div class="lign-items-center">
                            <strong class="mb-0">Finance Name</strong>
                            <p class="text-muted mb-0">Add/Update finance names.</p>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="align-items-center">
                            <strong class="mb-0">Categories</strong>
                            <p class="text-muted mb-0">Add/Update categories.</p>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" @onclick="updateUIMode">
                        <div class="align-items-center">
                            <strong class="mb-0">Dark/Light Mode</strong>
                            <p class="text-muted mb-0">Switch between dark or light mode.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private async Task updateUIMode()
    {
        var result = await SettingDatabase.GetItemAsync("UIMode");
        result.SetStr = result.SetStr == "dark" ? "light" : "dark";
        await SettingDatabase.ChangeUIMode(result);
        await JS.InvokeVoidAsync("setTheme", result.SetStr);
    }
}
