@inherits LayoutComponentBase
@inject SettingsDatabase SettingsDatabase
@inject IJSRuntime JS
<div id="mainPageBG" class="page @UiTheme">

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <header id="header">
        <div class="sidebar">
            <div class="d-flex flex-column">
                <div class="profile">
                    <h1 class="text-light m-3"><a href="index">FinPal</a></h1>
                </div>
                <NavMenu />
            </div>
        </div>
    </header>



    <main id="main">
        

        <section class="inner-page">
            <div class="container">
                @Body
            </div>
        </section>
    </main>
</div>
@code {
    private string UiTheme { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        var userSettings = await SettingsDatabase.GetItemAsync("UIMode"); // Assume this method retrieves user settings
        string theme = userSettings?.SetStr?? "dark"; // Default to "light" if no settings exist
        SetTheme(theme);
        UiTheme = theme == "dark" ? "" : "light-mode-bg";
    }

    private void SetTheme(string theme)
    {
        // Use JS interop to set the theme in the HTML
        JS.InvokeVoidAsync("setTheme", theme);
    }
}