<nav id="navbar" class="nav-menu navbar">
	<ul>
        <li><NavLink href="/" class="nav-link" Match="NavLinkMatch.All"><i class="bi bi-house-fill"></i> <span>Home</span></NavLink></li>
        <li><NavLink href="plan" class="nav-link"><i class="bi bi-pie-chart-fill"></i> <span>Plan</span></NavLink></li>
        <li><NavLink href="salary" class="nav-link"><i class="bi bi-cash-stack"></i> <span>Salary</span></NavLink></li>
        <li><NavLink href="bills" class="nav-link"><i class="bi bi-receipt"></i> <span>Bills</span></NavLink></li>
        <li><NavLink href="settings" class="nav-link"><i class="bi bi-gear-fill"></i> <span>Settings</span></NavLink></li>
        <li><a></a></li>
    </ul>
</nav>
